variable "yandex_cloud_id" {
  default = "{{ terraform_yandex_cloud_id }}"
}

variable "yandex_folder_id" {
  default = "{{ terraform_yandex_folder_id }}"
}

variable "yandex_cloud_token" {
  default = "{{ terraform_yandex_cloud_token }}"
}

variable "yandex_bucket_name" {
  default = "{{ terraform_yandex_bucket_name }}"
}
